
.reddit-list-page {
    padding-top: 10vh;
}


.reddit-list-container {
    margin: 30px 10px;
    width: 80vw;
    /* min-width: 50vw;
    max-width: 90vw; */
}

.reddit-list-header {
    font-weight: bold;
    margin: 40px 0px;
}

.reddit-list-search-input {
    width: calc(80vw - 20px);
    padding: 5px 10px;
    height: 40px;
    font-size: calc(8px + 1vmin);
    margin: 20px 0px;
}

.reddit-list-message {
    color: #999;
    font-size: calc(10px + 1vmin);
    margin: 20px 0px;
}